<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/hamburger.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/lightbox.min.css">
    <link rel="stylesheet" href="carousel/carousel.css">
    <link rel="stylesheet" href="review_slider/style.css">
    <script defer src="https://kit.fontawesome.com/2a269bc26f.js" crossorigin="anonymous"></script>
    <script defer src="js/lightbox-plus-jquery.min.js"></script>
    <script defer src="js/main.js"></script>
    <script defer src="js/hamburger.js"></script>
    <script defer src="js/set-head.js"></script>
    <script defer src="js/scroll.js"></script>
    <script type="module" src="carousel/carousel.js"></script>
    <title>Sparkling Willow Photography</title>
</head>

<body style="display: none;">
    <div id="scroll">
        <i class=" fa-solid fa-angle-up"></i>
    </div>
    <header>
        <a href="/">
            <img id="logo" src="img/home/logo-w.png" alt="Sparkling Willo Photography's logo">
        </a>
        <nav id="navigation">
            <ul id="hamburger">
                <li class="hamburger-line"></li>
                <li class="hamburger-line"></li>
                <li class="hamburger-line"></li>
            </ul>
            <ul id="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="has-submenu">
                    <a>Gallery
                        <i class="fa-solid fa-caret-down"></i>
                        <i class="fa-solid fa-caret-right"></i>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="/maternity-photos">Maternity</a>
                        </li>
                        <li>
                            <a href="/newborn-photos">Newborn</a>
                        </li>
                        <li style="display: none;">
                            <a href="/sitter-session-photos">Sitter Session</a>
                        </li>
                        <li>
                            <a href="/family-photos">Family</a>
                        </li>
                        <li>
                            <a href="/cake-smash-photos">Cake Smash</a>
                        </li>
                        <li style="display: none;">
                            <a href="/engagement-photos">Engagement</a>
                        </li>
                        <li>
                            <a href="/milestone-photos">Milestones</a>
                        </li>
                        <li>
                            <a href="/award-winning-photos">Award Winning Photos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>

                <li style="display: none;">
                    <a href="/blog">Blog</a>
                </li>

                <li>
                    <a href="/reviews">Reviews</a>
                </li>

                <li>
                    <a href="/faq">FAQ</a>
                </li>

                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li class="display-only-hamburger">
                    <ul class="social-menu">
                        <li>
                            <a class="hamburger-social-link" href="https://www.facebook.com/Sparklingwillowphotography"
                                target="_blank">
                                <img class="social-icon" src="img/icons/fb-w.png" alt="Facebook icon">
                            </a>
                        </li>
                        <li>
                            <a class="hamburger-social-link" href="https://www.instagram.com/sparklingwillowphotography"
                                target="_blank">
                                <img class="social-icon" src="img/icons/insta-w.png" alt="Instagram icon">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <nav id="bottom-navigation">
            <ul id="bottom-menu">
                <li>
                    <a href="/contact">Contact me</a>
                </li>
                <li>
                    <a href="/privacy-policy">Privacy policy</a>
                </li>
            </ul>
            <ul class="social-menu">
                <li>
                    <a href="https://www.facebook.com/Sparklingwillowphotography" target="_blank">
                        <img class="social-icon" src="img/icons/fb-w.png" alt="Facebook icon">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/sparklingwillowphotography" target="_blank">
                        <img class="social-icon" src="img/icons/insta-w.png" alt="Instagram icon">
                    </a>
                </li>
            </ul>
        </nav>
        <div id="copyright">
            <div><span id="this-year"></span>Sparkling Willow Photography</div>
            <a id="webdevme" target="_blank" href="https://www.webdevme.co.uk">Powered by
                <span class="underlined">webdevme.co.uk</span></a>
        </div>
    </footer>

    <script type="module" src="review_slider/script.js"></script>
</body>

</html>