<div class="container">
    <div id="about">
        <div>
            <div id="me"></div>

            <h1>
                About me
            </h1>
        </div>

        <p>
            My name is <strong>Nicky</strong> and I am a very proud mum to three beautiful girls.
            After my first two daughters were born, I decided to turn my hobby and passion into a career, one that
            could work around my girls, and so <strong>Sparkling Willow Photography</strong> was born!
        </p>
        <p>
            I have always been extremely passionate about photography and have spent many years learning and
            building up my portfolio.
        </p>
        <p>
            I absolutely love beautiful photos and truly believe todays moments are tomorrows memories and are worth
            treasuring for a life time. I strive to create wonderful timeless images and feel so rewarded when my
            clients absolutely adore their photos!
        </p>
        <p>
            In the last few years, I have won a number of awards for my images, for which I am truly grateful. This
            recognition encourages me to be better and strive to achieve my ultimate goals in the photography
            industry.
        </p>
        <p>
            I specialise in Maternity, Newborn, Sitter, Cake Smash, Family and Engagement shoots. I have also done a
            few baptisms and weddings.
        </p>
        <p>
            My home studio is in Cheam, Sutton, and I offer outdoor location shoots in the surrounding areas.
        </p>
        <p>
            Thank you for considering me to be your photographer <i class=" smile fa-regular fa-face-smile-wink"></i>
            Please do
            get in touch if you have any questions
            or would like to arrange a photo shoot <i class="smile fa-regular fa-face-smile-wink"></i>
        </p>
    </div>
</div>