<div class="box">
    <h2 id="error">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <br>
        Oops...
    </h2>
    <p>
        Something went wrong.
        <br>
        Please try to resend again later.
    </p>
    <span id="link">
        <a onclick="history.back()">Back</a>
    </span>
</div>