<div class="container">
    <div id="content-box">

        <h1>Frequently Asked Questions</h1>

        <ul>
            <li>
                <section>
                    <h2> Maternity shoots </h2>
                    <article>
                        <h3> When should I book my maternity shoot? </h3>
                        <p>
                            You can book your session anytime after your 12 week scan and I usually advise scheduling a
                            date for when you are between 30 &#38; 34 weeks
                            <i class="smile fa-regular fa-face-smile-wink"></i>.
                        </p>
                    </article>
                    <article>
                        <h3> What should I wear? </h3>
                        <p>
                            Your maternity shoot styling is completely your choice. You can have it as formal or
                            informal as you
                            like or even have a mix of both. You can wear your own outfit or you are welcome to use any
                            of my
                            maternity dresses and accessories.
                        </p>
                    </article>
                </section>
            </li>
            <li>
                <section>
                    <h2> Newborn shoots </h2>
                    <article>
                        <h3> When do I book my newborn shoot? </h3>
                        <p>
                            You can book your newborn shoot after your 12 week scan.
                        </p>
                    </article>
                    <article>
                        <h3> How do I know what date to book for my newborn shoot? </h3>
                        <p>
                            We can schedule your newborn shoot date for roughly 5-12 days after your due date, however,
                            I will
                            be flexible as you never know when baby will decide to make his or her appearance into this
                            world <i class="smile fa-regular fa-face-smile-wink"></i>.
                        </p>
                    </article>
                    <article>
                        <h3> Can I bring siblings to the session? </h3>
                        <p>
                            Of course, they are part of the family too <i
                                class="smile fa-regular fa-face-smile-wink"></i>. These sessions are long, so bring toys
                            or
                            an
                            iPad to
                            keep them busy, or if they are toddlers, it might be easier for a family member to bring
                            them for
                            the last 30mins of the session.
                        </p>
                    </article>
                    <article>
                        <h3> What do I need to bring to bring to my newborn shoot? </h3>
                        <p>
                            A change of clothes in case baby decides to share their milk with you, a dummy and enough
                            formula
                            for a few feeds if they are not breast fed.
                        </p>
                    </article>
                    <article>
                        <h3> What is baby is unsettled and crying? </h3>
                        <p>
                            Babies cry, it's their only way to communicate and let us know that there is something
                            wrong.
                            Generally they are either hungry, tired and have stomach cramps. I never rush my sessions
                            and follow
                            babies lead, if he or she does not want to settle in a particular pose, I will move onto the
                            next
                            one. I never promise a particular pose but will do my best to get the shots you love,
                            however, baby
                            is boss during these sessions <i class="smile fa-regular fa-face-smile-wink"></i>.
                        </p>
                    </article>
                </section>
            </li>
            <li>
                <section>
                    <h2> Family sessions </h2>
                    <article>
                        <h3> What must we wear? </h3>
                        <p>
                            Whatever you're comfortable in, however, I do suggest wearing similar colours / tones and
                            preferably
                            unbranded as todays brands may not be that popular in a few years time <i
                                class="smile fa-regular fa-face-smile-wink"></i>.
                        </p>
                    </article>
                </section>
            </li>
            <li>
                <section>
                    <h2> Cake Smash sessions </h2>
                    <article>
                        <h3> Do you provide the cake? </h3>
                        <p>
                            I can provide a small rosette buttercream cake for your little one to smash at an extra cost
                            of £20
                            provided they have no allergies.
                        </p>
                    </article>
                    <article>
                        <h3>
                            What themes do you offer and do you provide the decor?
                        </h3>
                        <p>
                            I offer a variety of themes which can be seen on my pages but I am always eager to change
                            things up
                            and try new themes. I provide a styled set in my home studio which generally includes the
                            backdrop,
                            balloon arch, giant letters 'ONE' and any other props I might have to suit your chosen
                            theme.
                        </p>
                    </article>
                    <article>
                        <h3>
                            What should my little one wear?
                        </h3>
                        <p>
                            You can dress them however you want, a themed outfit is always cute <i
                                class="smile fa-regular fa-face-smile"></i>, however a simple
                            vest
                            is just
                            as cute <i class="smile fa-regular fa-face-smile"></i>. I usually take a few clean formal
                            shots before the cake comes out, so you are
                            welcome to
                            bring two outfits in if you like <i class="smile fa-regular fa-face-smile-wink"></i>.
                        </p>
                    </article>
                </section>
            </li>
        </ul>
    </div>
</div>