<p>
    Once you've said YES to that special someone, you begin a very exciting journing together! Celebrating or announcing
    your engagement with a photoshoot is an amazing way to cherish the start of the next chapter in your life.
</p>

<div class="container">
    <div class="gallery">
        <div class="photo-box">
        </div>
    </div>
</div>

<script>
    function insertPhotosToGallery(folder, tag, category, numOfPhotos, selector) {
        for (let index = 1; index <= numOfPhotos; index++) {
            let storage = document.querySelector(selector);

            let photo = `<a href="img/gallery/${folder}/${tag}-${index}.jpg" data-lightbox="roadtrip" data-title="${category}">
            <img class="gal-img" src="img/gallery/${folder}/${tag}-${index}.jpg" alt="${category} photo">
        </a>`;
            storage.innerHTML += photo;
        }
    }
    insertPhotosToGallery('engagement', 'engagement', 'Engagement', 2, '.gallery .photo-box')
</script>