<p>
    Cake smashes are a great way to celebrate and remember your little one's milestone birthday! These shoots are
    designed to create a fun filled light hearted session for you and your little one to enjoy and cherish.
</p>

<div class="container">
    <div class="gallery">
        <div class="photo-box">
        </div>
    </div>
</div>

<script>
    function insertPhotosToGallery(folder, tag, category, numOfPhotos, selector) {
        for (let index = 1; index <= numOfPhotos; index++) {
            let storage = document.querySelector(selector);

            let photo = `<a href="img/gallery/${folder}/${tag}-${index}.jpg" data-lightbox="roadtrip" data-title="${category}">
            <img class="gal-img" src="img/gallery/${folder}/${tag}-${index}.jpg" alt="${category} photo">
        </a>`;
            storage.innerHTML += photo;
        }
    }
    insertPhotosToGallery('cake-smash', 'cake-smash', 'Cake Smash', 15, '.gallery .photo-box')
</script>