<div class="container">
    <div class="carousel"></div>
    <div id="middle-container">
        <h2>Today's moments are tomorrow's memories, worth treasuring for a lifetime.</h2>
        <p>
            Maternity, newborn and family photographer based in South London
        </p>
        <p>
            <i class="fa-solid fa-location-dot"></i>
            Cheam, Sutton and surrounding areas
        </p>
        <h1>Welcome to Sparkling Willow Photography!</h1>
        <p>
            If you are expecting a baby, congratulations! If you already have a little one, have a milestone
            birthday
            coming up, recently got engaged or would simply like to update your family pictures, then you have come
            to
            the right place!
            I specialise in maternity, newborn, sitter, cake smash, family and engagement shoots.
        </p>
    </div>


    <div id="wrapper">
        <div id="category-container">
            <div class="category-box">
                <div class="category-photo-box">
                    <div class="maternity"></div>
                </div>
                <div class="category-description-box right">
                    <h3>
                        <a href="/maternity-photos">Maternity</a>
                    </h3>
                    <p class="grad-text">
                        From the moment you find out you're growing a little person, your
                        life will change in more ways than you can imagine. Maternity
                        shoots can be...
                    </p>
                    <a style="display: none;" class="btn" href="/maternity-photos"><i
                            class="fa-solid fa-angles-right"></i> See in gallery</a>
                </div>
            </div>

            <div class="category-box">
                <div class="category-photo-box">
                    <div class="newborn"></div>
                </div>
                <div class="category-description-box right">
                    <h3>
                        <a href="/newborn-photos">Newborn</a>
                    </h3>
                    <p class="grad-text">
                        Babies grow so fast and it is wonderful to capture the first few
                        days of their life and be able to...
                    </p>
                    <a style="display: none;" class="btn" href="/newborn-photos"><i
                            class="fa-solid fa-angles-right"></i> See in gallery</a>
                </div>
            </div>

            <div class="category-box">
                <div class="category-photo-box">
                    <div class="sitter"></div>
                </div>
                <div class="category-description-box right">
                    <h3>
                        Sitter Session
                    </h3>
                    <p>
                        Babies grow so fast and reach so many amazing milestones so
                        quickly and capturing them makes them so much more special. These
                        sessions are for babies who can sit unaided but are not yet
                        walking or crawling. I aim to capture their ever-growing
                        personality and beautiful smile while they're growing into a
                        little independent person.
                    </p>
                    <a style="display: none;" class="btn" href="/sitter-session-photos"><i
                            class="fa-solid fa-angles-right"></i> See in
                        gallery</a>
                </div>
            </div>

            <div class="category-box">
                <div class="category-photo-box">
                    <div class="family"></div>
                </div>
                <div class="category-description-box right">
                    <h3>
                        <a href="/family-photos">Family</a>
                    </h3>
                    <p class="grad-text">
                        Family portraits are always special to have. These photoshoots are
                        fun and relaxed and can be enjoyed by the whole family. These can
                        be...
                    </p>
                    <a style="display: none;" class="btn" href="/family-photos"><i class="fa-solid fa-angles-right"></i>
                        See in gallery</a>
                </div>
            </div>

            <div class="category-box">
                <div class="category-photo-box">
                    <div class="cakesmash"></div>
                </div>
                <div class="category-description-box right">
                    <h3>
                        <a href="/cake-smash-photos">Cake Smash</a>
                    </h3>
                    <p class="grad-text">
                        Cake smashes are a great way to celebrate and remember your little
                        one's milestone birthday! These shoots are designed to...
                    </p>
                    <a style="display: none;" class="btn" href="/cake-smash-photos"><i
                            class="fa-solid fa-angles-right"></i> See in gallery</a>
                </div>
            </div>

            <div class="category-box">
                <div class="category-photo-box">
                    <div class="engagement"></div>
                </div>
                <div class="category-description-box right">
                    <h3>
                        Engagement
                    </h3>
                    <p>
                        Once you've said YES to that special someone, you begin a very
                        exciting journing together! Celebrating or announcing your
                        engagement with a photoshoot is an amazing way to cherish the
                        start of the next chapter in your life.
                    </p>
                    <a style="display: none;" class="btn" href="/engagement-photos"><i
                            class="fa-solid fa-angles-right"></i> See in gallery</a>
                </div>
            </div>

            <div class="category-box">
                <div class="category-photo-box">
                    <div class="milestone"></div>
                </div>
                <div class="category-description-box right">
                    <h3>
                        <a href="/milestone-photos">Milestones</a>
                    </h3>
                    <p class="grad-text">
                        Milestones, lorem ipsum dolor sit amet. Lorem ipsum dolor sit.
                        All those months of planning down to every details and...
                    </p>
                    <a style="display: none;" class="btn" href="/milestone-photos"><i
                            class="fa-solid fa-angles-right"></i> See in gallery</a>
                </div>
            </div>

            <div class="category-box">
                <div class="category-photo-box">
                    <div class="award-winning"></div>
                </div>
                <div class="category-description-box right">
                    <h3>
                        <a href="/award-winning-photos">Award Winning</a>
                    </h3>
                    <p class="grad-text">
                        Award Winning Photos, lorem ipsum dolor sit amet. Lorem ipsum dolor sit.
                        All those months of planning down to every details and...
                    </p>
                    <a style="display: none;" class="btn" href="/award-winning-photos"><i
                            class="fa-solid fa-angles-right"></i> See in gallery</a>
                </div>
            </div>
        </div>
    </div>

    <div class="reviewSlider"></div>

</div>