<div class="box">
    <h2 id="error">
        <i class="fa-solid fa-robot"></i> <br>
        Human check failed!
    </h2>
    <p>
        Please <a id="link" onclick="history.back()">RETURN</a> to the previous page,
        <br>
        and complete the check!
    </p>
</div>